*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.App{
  display: flex;
  width: 100%;
  height: 100vh;
 
}

.Discover{
  width: 80%;
  text-transform: uppercase;
  background-image: url(./Photos/group-portrait-of-adorable-puppies-royalty-free-image-1687451786.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
  text-align: center;
  color: white;
}

.Ban{
  width: 20%;
  text-align: center;
  overflow: scroll;
  background-color: #d2d2d2;
}

.rightDiscover{
  height: 90%;
  width: 70%;
  border: 5px solid grey;
  position: relative;
  background-color: black;
  opacity: 0.8;
  border-radius: 40px;
}

.leftDiscover{
  height: 90%;
  width: 20%;
  overflow: scroll;
  position: relative;
  background-color: black;
  opacity: 0.8;
 overflow: hidden;
}

.bold{
  padding: 30px;
  font-weight: bold;
}

.button{
  position: absolute;
  top:90%;
  left: 41%;
  height: 30px;
  width: 100px;
  border-radius: 30px;
  font-size: large;
}
.pastChildrenHolder{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 440px;
  overflow: scroll;
  text-align: center;
  padding-bottom: 20px;
}

.prevImages{
  width: 100%;
  height: 200px;
  display: block;
  opacity: 1;
}

.curr{
  width: 300px;
  height: 700px;
  position: relative;
  left: 30%;
  top:30px
}

.names{
  padding:20px 0;
  text-align: center;
  width: 100%;
}

.buttonz{
  height: 50px;
  width: 100px;
  border-radius: 10px;
  margin: 15px 30px;
  font-weight: 900;

}
.buttonz:hover,.button:hover{
  background-color: brown;
}

.pastHolder{
  display: flex;
  flex-flow: column;
  width:100%;
  align-items: center;
  justify-content: center;
}